.App {
  text-align: center;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-bar {
  padding: 5px;
  width: auto;
  background-color: #92aa9a;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  font-size: 36px;
  min-width: 250px;
  padding-left: 30px;
}

.nav-bar-links {
  width: 250px;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  min-width: 180px;
}

.nav-bar-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  font-size: small;
}

.welcome-message {
  font-size: 36px;
  padding-top: 100px;
  padding-left: 100px;
  width: 700px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-message-2 {
  font-size: 32px;
  color: black;
}

.home-page {
  height: 100%;
  /* background-color: orange; */
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
  background-image: url("./assets/background.jpg");
}
