.App {
  text-align: center;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-bar {
  padding: 5px;
  width: auto;
  background-color: #92aa9a;
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  font-size: 36px;
  min-width: 250px;
  padding-left: 30px;
}

.nav-bar-links {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  min-width: 180px;
}

.nav-bar-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
}

.nav-bar-link:hover {
  color: #cecece;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  font-size: small;
}

.welcome-message {
  font-size: 40px;
  padding-top: 100px;
  padding-left: 100px;
  width: 700px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-message-2 {
  font-size: 36px;
  color: black;
}

.home-page {
  height: 80%;
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
  background-image: url("./assets/background.jpg");
}

.google-btn {
  width: 190px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
}

.google-icon {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: white;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
  cursor: pointer;
}

.google-btn:active {
  background: #1669f2;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  font-size: 24px;
}

.witch {
  height: 80px;
  width: 80px;
}

.witch-and-button {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-character-button {
  width: 210px;
  height: 40px;
  font-size: 20px;
  background: #e3ede0;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-style: solid;
  border-color: #e3ede0;
}

.new-character-button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #cdcdcd;
}

.counter-witch-padding {
  width: 80px;
}

.logged-in-home {
  height: 68vh;
}

.characters-container-box {
  background-color: #f1f8f0;
  height: 78vh;
}

.characters-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-right: 40px;
  height: 100%;
}

.character {
  background-color: white;
  border-style: solid;
  border-color: #bc9a59;
  border-width: 1px;
  width: 400px;
  height: 85%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.access-character-buttons {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

.access-character-button {
  background-color: white;
  width: 100px;
  height: 50px;
  margin: 5px;
  border-style: solid;
  border-color: #bc9a59;
  border-width: 1px;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-style: solid;
  color: #bc9a59;
  border-radius: 10px;
}

.access-character-button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #b6b6b6;
}

.race-and-class {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding-top: 20px;
}

.character-name {
  font-size: 44px;
  padding: 5px;
  padding-top: 90px;
}

.no-characters-message {
  align-self: flex-start;
  padding: 80px;
  font-size: 16px;
  color: #92aa9a;
}

.self-photo {
  width: 90%;
  padding: 20px;
  max-width: 300px;
  min-width: 100px;
}

.self-photo-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
  border-color: #bc9a59;
  border-width: 1px;
  margin-top: 90px;
  margin-right: 10px;
}

.about-page {
  width: 100%;
  display: flex;
  height: 90%;
  justify-content: center;
}

.about-text-container {
  margin-top: 50px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-bottom: 100px;
  margin-right: 20px;
  min-width: 270px;
}

.about-title {
  font-size: 28px;
}

.about-paragraph {
  font-size: 16px;
}

.about-signature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signature-logo {
  height: 25px;
  margin-left: 10px;
}

.signature-logo:hover {
  /* box-shadow: 0 0 6px #b5b4b4; */
  cursor: pointer;
}

.begin-options-container {
  width: 60%;
  background-color: #f1f8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.begin-character-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.begin-character-page {
  display: flex;
  height: 90%;
  width: 100%;
}

.begin-character-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin-bottom: 30px;
  width: 100%;
}

.begin-form-only {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  padding-top: 30px;
  margin: 10px;
}

.begin-form-label {
  font-size: 24px;
}

.begin-character-title {
  font-size: 36px;
  margin-top: 80px;
}

.input-name {
  font-size: 20px;
  width: 200px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.begin-select {
  font-size: 20px;
  width: 130px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.begin-next-button {
  background-color: white;
  width: 80px;
  height: 33px;
  margin: 15px;
  border-style: solid;
  border-color: #bc9a59;
  border-width: 1px;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-style: solid;
  color: #bc9a59;
  border-radius: 10px;
  align-self: end;
  margin: 20px;
  margin-right: 50px;
}

.begin-next-button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #b6b6b6;
}

.item-description {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.item-description-title {
  font-weight: 400;
  font-size: 40px;
  color: #bc9a59;
  margin-bottom: 20px;
}

.item-description-text {
  background-color: white;
  border-style: solid;
  border-color: #bc9a59;
  border-width: 1px;
  padding: 30px;
  overflow: scroll;
  max-height: 470px;
}

.empty-description-message {
  padding: 80px;
  font-size: 16px;
  color: #92aa9a;
}

.get-ability-scores-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 265px;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
}

.ability-scores-page {
  display: flex;
  width: 100%;
  height: 90.2%;
}

.ability-scores-title {
  font-size: 36px;
  margin: 20px;
  margin-top: 80px;
}

.ability-scores-description {
  font-size: 24px;
  padding-right: 40px;
  padding-left: 40px;
}


.roll-dice-container {
  height: 165px;
  width: 200px;
  background-image: url("./assets/dice.jpg");
  background-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 165px;
}

.roll-dice-button {
  background-color: white;
  width: 90px;
  height: 35px;
  margin: 5px;
  border-style: solid;
  border-color: #bc9a59;
  border-width: 1px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-style: solid;
  color: #bc9a59;
  border-radius: 10px;
}

.roll-dice-button:hover {
  cursor: pointer;
  box-shadow: 0 0 4px #b6b6b6;
}

.scores-list {
  display: flex;
  align-content: center;
  justify-content: center;
}

.scores-list-title {
  margin-top: 50px;
  margin-right: 5px;
  font-size: 22px;
}

.scores-list-scores {
  margin-top: 50px;
  display: flex;
  font-size: 22px;
}

.scores-list-score {
  margin-right: 5px;
  margin-left: 5px;
}

.abilities-container-etc {
  background-color:  #f1f8f0;
  width: 100%;
  overflow: hidden;
  align-items: center;
  min-width: 550px;
}

.abilities-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 90%;
}

.ability {
  background-color: white;
  border-style: solid;
  border-color: #bc9a59;
  border-width: 1px;
  margin: 15px;
  min-width: 150px;
  min-height: 150px;
  width: 20%;
  height: 70%
}

.abilities-top-row {
  display: flex;
  min-height: 200px;
}

.abilities-bottom-row {
  display: flex;
  min-height: 200px;
}

.ability-score-note {
  margin: 20px;
  align-self: center;
  width: 350px;
  font-size: 20px;
  color: #92AA9A;
}

.choose-score-with-bonus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ability-score-select {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.ability-score-bonus {
  font-size: 20px;
}

.plus-sign {
  font-size: 24px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 3px;
}