.App {
  text-align: center;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-bar {
  padding: 5px;
  width: auto;
  background-color: #92aa9a;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
  font-size: 36px;
  min-width: 250px;
  padding-left: 30px;
}

.nav-bar-links {
  width: 250px;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  min-width: 180px;
}

.nav-bar-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
}

.nav-bar-link:hover {
  color:#cecece;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  font-size: small;
}

.welcome-message {
  font-size: 40px;
  padding-top: 100px;
  padding-left: 100px;
  width: 700px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-message-2 {
  font-size: 36px;
  color: black;
}

.home-page {
  height: 80%;
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
  background-image: url("./assets/background.jpg");
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  margin-top: 10px;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
}

.google-icon {
  display: flex;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
  cursor: pointer;
}

.google-btn:active {
  background: #1669F2;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  font-size: 24px;
}

.witch {
  height: 80px;
  width: 80px;
}

.witch-and-button {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-character-button {
  width: 210px;
  height: 40px;
  font-size: 20px;
  background: #E3EDE0;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-style: solid;
  border-color:#E3EDE0;
}

.new-character-button:hover {
  cursor: pointer;
}

.counter-witch-padding {
  width: 80px;
}

.logged-in-home {
  height: 68vh;
}

.characters-container-box {
  background-color: #F1F8F0;
  height: 78vh;
}

.characters-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 40px;
  margin-right: 40px;
  height: 100%;
}

.character {
  background-color: white;
  border-style: solid;
  border-color: #BC9A59;
  border-width: 1px;
  width: 400px;
  height: 85%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.access-character-buttons {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

.access-character-button {
  background-color: white;
  width: 100px;
  height: 50px;
  margin: 5px;
  border-style: solid;
  border-color: #BC9A59;
  border-width: 1px;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  border-style: solid;
  color: #BC9A59;
  border-radius: 10px;
}

.race-and-class {
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 28px;
  padding-top: 20px;
}

.character-name {
  font-size: 44px;
  padding: 5px;
  padding-top: 90px;
}